.sliderContainer{
  background-color: rgb(209, 209, 209);
  width: 65px;
  border-radius: 1em;
  height: 30px;
  display: flex;
  padding: 3px;
  cursor: pointer;
}
@keyframes sliderOn {
  0%{}
  100%{transform: translateX(41px) translateY(2.5px); background-color: rgb(0, 255, 0);}
}
.sliderAnimationOn{
  animation: sliderOn 1s both;
}
@keyframes sliderOff {
  0%{transform: translateX(41px) translateY(2.5px); background-color: rgb(0, 255, 0);}
  100%{}
}
.sliderAnimationOff{
  animation: sliderOff 1s both;
}
.sliderSlide{
transform: translateY(2.5px) ;
height: 25px;
width: 25px;
background-color: rgb(99, 99, 99);
border-radius: 50%;
}